@using SBWV.Models.ViewModels

@model IEnumerable<BookVM>

<article id="about">
    @if (Model.Count() == 0)
    {
        <h3>Ничего не найденно, нам жаль.</h3>
    }
</article>

 <div id="catalog">

  <div class="list">
     
    @foreach (var b in Model)
        {
      <div class="item">
        <div class="top">
           <div class="img">
                        @if (b.Pictures.Length != 0)
                        {
                            <img src="@b.Pictures.First().Src" alt="Photo" />
                        }
                        else
                        {

                            <img src="~/images/nocover.png">
                        }
           </div>
            

            <div class="info">
                <h1 class="title">Название : @b.Title</h1>
                <h2 class="author">Автор: @b.Author</h2>
                <h3 class="genre">Категория:@b.Category</h3>
                <div class="condition">
                    <strong class="price">Цена: @b.Price</strong>
                    <div class="img">
                        @{
                                if (@b.Swap == true)
                                {
                                      <img class="true" alt="ready for swap" src="~/images/icons/change.svg">
                                }
                                
                                else
                                {
                                      <img class="false" alt="ready for change" src="~/images/icons/change.svg">
                                }
                        }
                              
                    </div>
                       
                        
                </div>

            </div>
        
       </div>
        <p class="description">Информация:@b.Info</p>

         @Html.ActionLink("Подробнее", "Details", "Books", new { idBook = b.Id })
        
     </div>
    }

    </div>

   

  

  




