@using SBWV.Models.ViewModels

@model BookVM

 <ul class="slider">

      @if (Model.Src != null)
      {

        @for (int j = 0; j < Model.Src.Length; j++)
        {

            <li>

                <input type="radio" id="slide{@j}" name="slide" checked />
                <label for="slide{@j}"></label>
                <img src="@Model.Src[j]" alt="Photo1" />

            </li>

        }
      }
   else
   {
        <li>

            <input type="radio" id="slide" name="slide" checked />
            <label for="slide"></label>
            <img src="~/images/noimage.png" alt="Photo" />

        </li>

      

   }
 </ul>







<div id="catalog">

    <div class="list">
        <div class="item">
            <div class="top">
                
                    
                    
                   
                   
               
               
            </div>
           <div class="info">
                <h1 class="title">Название: @Model.Title</h1>
                <h2 class="author">Автор: @Model.Author</h2>
                <h3 class="genre">Категория: @Model.Category</h3>
                <div class="condition">
                    <strong class="price">Цена: @Model.Price</strong>
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                    <div class="img">
                        @if (Model.Swap)
                        {
                            <img class="true" style=" justify-content:space-around;" alt="ready for change" src="~/images/icons/change.svg">
                        }
                        else
                        {
                            <img class="false" style="justify-content:space-around;" alt="ready for change" src="~/images/icons/change.svg">
                        }
                    </div>
                    <div class="description">Информация: @Model.Info </div>

  </div>
                <br />
                @Html.LabelFor(x => x.Email, "Почта: ") <span>&nbsp;</span>
                @Html.DisplayFor(x => x.Email)

                <br />
                @Html.LabelFor(x => x.Telephone, "Телефон: ") <span>&nbsp;</span>
                @Html.DisplayFor(x => x.Telephone)
           </div>

           

        </div>
    </div>
   
   
</div>

@*
    <style>
    .myLink
    {
        display: flex;
        justify-content: center;
        color: #daa556;
    }
</style>
<div class="al">
    @Html.ActionLink("удалить", "Delete", "Books", new { idBook = Model.Id }, new { @class = "myLink" })
</div>
*@



