@using SBWV.Models.ViewModels

@model IEnumerable<BookVM>

<article id="about">
    @if (Model.Count() == 0)
    {
        <h3>Ничего не найденно, нам жаль.</h3>
    }
</article>

 <div id="catalog">

  <div class="list">
     
    @foreach (var b in Model)
        {
      <div class="item">
        <div class="top">
           <div class="img">
                        @if (b.Src.Length != 0)
                        {
                            <img src="@b.Src.First()" alt="Photo" />
                        }
                        else
                        {

                            <img src="~/images/nocover.png">
                        }
           </div>
            

            <div class="info">
                <h1 class="title">Название : @b.Title</h1>
                <h2 class="author">Автор: @b.Author</h2>
                <h3 class="genre">Категория:@b.Category</h3>
                <div class="condition">
                    <strong class="price">Цена: @b.Price</strong>
                    <div class="img">
                        @{
                                if (@b.Swap == true)
                                {
                                      <img class="true" alt="ready for swap" src="~/images/icons/change.svg">
                                }
                                
                                else
                                {
                                      <img class="false" alt="ready for change" src="~/images/icons/change.svg">
                                }
                        }
                              
                    </div>
                       
                        
                </div>

            </div>
        
       </div>
        <p class="description">Информация:@b.Info</p>

         @Html.ActionLink("Подробнее", "Details", "Books", new { idBook = b.Id })
        
     </div>
    }

    </div>
    @*Затык с получением количества страниц если показывать по 2 штуки за раз*@
 @*
        <div class="pagination">
        <div class="left">
        &lt;
        </div>
        <div class="page">
        <label>
        <select name="page">
        <option value="1">1</option>
        <option value="2" selected="">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        </select>
        </label>
        </div>
        <div class="right">
        &gt;
        </div>
        }
        </div>

 *@
   
 @*
        @foreach (var b in Model)
        {
        <div class="new-section">




        <b>@Html.LabelFor(x => b.Title, "Название:")</b>
        @Html.DisplayFor(x => b.Title)

        <br />

        <b>@Html.LabelFor(x => b.Author, "Автор:")</b>
        @Html.DisplayFor(x => b.Author)

        <br />

        <b>Обмен:</b>

        @Html.DisplayFor(x => b.Swap)

        <b>Цена: </b>
        <td>@b.Price</td>
        <b>@Html.LabelFor(w => b.Info, "Информация:")</b>
        @Html.DisplayFor(m => b.Info)



        <br />
        <span>&nbsp;</span>

        @Html.ActionLink("Подробнее", "Details", "Books", new { idBook = b.Id }, new { @class = "text-dark" })


        </div>
        }

        </tbody>
 *@

  

  




