@using SBWV.Models.ViewModels

@model IEnumerable<BookVM>



<article id="about">
    @if (Model.Count() == 0)
    {
        <h3>Ничего не найденно, нам жаль.</h3>
    }
</article>

 <div id="catalog">

  <div class="list">
     
    @foreach (var b in Model)
        {
            <div class="item">
                <div class="favorite-img">
                    @{
                     

                      string  srcFavorite = b.IsFavorite ? "/images/favoriteRed.png" : "/images/favoriteBlack.png";
                    }



                    <img id="@b.Id" alt="Favorite" src=@srcFavorite onclick="addFavorite(@b.Id)" />

                </div>
        <div class="top">
           <div class="img">
                        @if (b.Pictures.Length != 0)
                        {
                            <img src="@b.Pictures.First().Src" alt="Photo" />
                        }
                        else
                        {

                            <img src="~/images/nocover.png">
                        }
           </div>
            

            <div class="info">

                      
                <h1 class="title">Название : @b.Title</h1>

                <h2 class="author">Автор: @b.Author</h2>
                <h3 class="genre">Категория:@b.Category</h3>
                <div class="condition">
                    <strong class="price">Цена: @b.Price</strong>
                    <div class="img">
                                
                                @{
                                if (@b.Swap == true)
                                {
                                                  <img class="true" alt="ready for swap" src="~/images/icons/change.svg">
                                }
                                
                                else
                                {
                                                  <img class="false" alt="ready for change" src="~/images/icons/change.svg">
                                }
                        }
                              
                    </div>
                       
                        
                </div>

            </div>
        
       </div>
        <p class="description">Информация:@b.Info</p>

         @Html.ActionLink("Подробнее", "Details", "Books", new { idBook = b.Id })
        
     </div>
    }

    </div>

    
    <script type="text/javascript">

    function addFavorite(idBook) {


    $.ajax({
    url: '@Url.Action("AddFavorites", "Account")',
    data: { idBook },
    success: function (result) {
    alert(result.msg);
        if (result.isAdded === true) {

                        $('#' + idBook).attr('src','/images/favoriteRed.png');
        }
        else 
        {
                        $('#' + idBook).attr('src','/images/favoriteBlack.png');
        }
    //todo сердце меняет цвет добавить вместо удаления

    //  $('#' + id).remove();
    //alert(result.msg);
    },
    error: function (result) {

    window.location.href = '/Account/Login'
    }
    })
    }

    // function doUpdate() {

    //     var formData = {
    //         Id: 1,
    //         Title: $('#Title').val(),
    //         Author: $('#Author').val(),
    //         Src: ["1", "2", "3"]
    //     };

    //     $.ajax({
    //         type: "POST",
    //         url: '@Url.Action("UpdateData", "Books")',
    //         data: formData,
    //         success: function (result) {
    //             alert('success')
    //         }
    //     })
    // }

    </script>
    








