@model SBWV.Models.ViewModels.BookVM

<link rel="stylesheet" href="~/css/CreateBook.css" />

<div class="catalog">
    @using (@Html.BeginForm("Create", "Books", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <p>
            <div class="list">
                
                    <label class="file-input-label" for="file-upload">Загрузить фотографии</label>
                    <input id="file-upload" class="file-input" type="file" name="files" multiple >
                
               
            </div>
        </p>
        <p>
            @Html.LabelFor(m => m.Title, "Название:")<br />
            @Html.EditorFor(m => m.Title)
        </p>
        <p>
            @Html.LabelFor(m => m.Author, "Автор:")<br />
            @Html.EditorFor(m => m.Author)
        </p>
        <p>
            @Html.LabelFor(m => m.Swap, "Обмен:")<br />
            @Html.CheckBoxFor(m => m.Swap, true)
        </p>
        <p>
            @Html.LabelFor(m => m.Price, "Цена:")<br />
            @Html.EditorFor(m => m.Price)
        </p>
        <p>
            @Html.LabelFor(m => m.Info, "Информация:")<br />
            @Html.TextAreaFor(mbox => mbox.Info)
        </p>

        <p>
            @Html.DropDownListFor(m => m.Category, @ViewBag.Categories as List<SelectListItem>, "Выберите категорию")
        </p>

        <p>
            <label class="file-input-label" for="Create">Создать</label>
            <input id="Create" class="file-input" type="submit" />
        </p>

    }
</div>


