@using SBWV.Models.ViewModels

@model BookVM

<style>
    #container
    {
    display:flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    }
    #container .login {
        display:flex;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 100px;
        align-items: center;
        flex-flow: column;
        justify-content: center;
        text-align: center;
        row-gap: 10px;
        border: 1px solid ghostwhite;
    }

       #container .login input {
            width: 250px;
            margin: 7px auto;
            height: 40px;
            font-size: 18px;
            border-radius: 5px;
            border: 1px solid #ccc;
            display: flex;
            flex-flow: column;
            justify-content: center;
            justify-items: center;
            padding: 0 10px;
            align-items: center;
            align-content: center;
        }
</style>

<style>
    .file-input-container {
        overflow: hidden;
        position: relative;
    }

    .file-input-label {
        background: #f3f2ec;
        padding: 8px 15px;
        cursor:pointer;
        font-family: Raleway, sans, sans-serif;
        font-size: 14px;
        text-align: center;
        color: #daa556;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

        .file-input-label:hover {
            text-decoration: underline;
        }

    .file-input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
</style>


<style>
    .new-section {
        border-radius: 25px;
        height: 100%;
        width: 300px;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 20px;
        text-align: left;
        background: #FFF4A3;
    }
</style>

<div id="catalog" style="align-content:center; align-items:center; display:flex; justify-content:center;">
    
 <form asp-action="edit" asp-controller="Books" asp-route-id="@Model.Id" id="catalog" enctype="multipart/form-data" style="text-align:center; align-content:center;align-items:center;">

            <h1>Редактировать</h1>

            <div class="list">

                
                   
                       <label asp-for="Title">Название:</label><br />
                       <input type="text" asp-for="Title" />
                    
                   
                
                
            </div>

            <div class="list">

                
                       <label asp-for="Author">Автор: </label><br />
                       <input type="text" asp-for="Author"></input>
                
    
            </div>

            <div class="list">
                
                      <label asp-for="Price">Цена: </label><br />
                      <input type="number" asp-for="Price"></input>
                
 
            </div>
            <div class="list">
                
                     <label asp-for="Swap">Обмен</label><br />
                     <input type="checkbox" asp-for="Swap"></input>
                
                
            </div>
            <div class="list">
                
                @Html.DropDownListFor(m => m.Category, @ViewBag.Categories as List<SelectListItem>)
                

            </div>

            <div class="list">
                
                     <label asp-for="Info">Информация</label><br />
                      <input type="text" asp-for="Info" />
                

            </div>
            
                <style>
                    .container {
                        position: relative;
                        width: 100%;
                        max-width: 400px;
                    }

                        .container img {
                            width: 50%;
                            height: auto;
                        }

                        .container .btn {
                            border-radius: 5px;
                        }

                    .btn {
                        position: absolute;
                        top: 65%;
                        left: 32%;
                        /*  transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%); */

                        text-align: center;
                        color: black;
                        font-size: 10px;
                        cursor: pointer;
                        /* border: none; */
                        /**/
                        background-color: white;
                    }

                        .btn:hover {
                            /*    background-color: gray; */
                            color: red;
                        }

                </style>

                <script type="text/javascript">

                    function onDelete(id) {
                        if (!confirm("Удалить фото?"))
                            return;

                        $.ajax({
                            url: '@Url.Action("DeletePhoto", "Books")',
                            data: { id },
                            success: function (result) {
                                $('#' + id).remove();
                                //alert(result.msg);
                            },
                            error: function (result) {
                                alert(result.msg);
                            }
                        })
                    }

                    // function doUpdate() {

                    //     var formData = {
                    //         Id: 1,
                    //         Title: $('#Title').val(),
                    //         Author: $('#Author').val(),
                    //         Src: ["1", "2", "3"]
                    //     };

                    //     $.ajax({
                    //         type: "POST",
                    //         url: '@Url.Action("UpdateData", "Books")',
                    //         data: formData,
                    //         success: function (result) {
                    //             alert('success')
                    //         }
                    //     })
                    // }

                </script>

            <div class="list">
                

                     <label asp-for="EditPhoto">Изображения:</label><br />

                @if (Model.Pictures != null)
                    {

                      @foreach (var i in Model.Pictures)
                       {

                        <div class="container" id="@i.Id">
                        <img src="@i.Src" alt="Photo" />    @*why images are not displayed?*@
                        <button class="btn" type="button" onclick="onDelete(@i.Id)">удалить</button>
                        </div>
                        <br />

                    }
                
                }
               

             
            </div>

         <div class="list">
            <div class="item" style="text-align:center; align-content:center; align-items:center">
                <div class="file-input-container">
                    <label class="file-input-label" for="upload-photo">Выберите файл</label>
                    <input class="file-input" type="file" name="files" id="upload-photo" multiple />
                </div>
            </div>
        </div>
            

    <div class="list">
            <div class="item" style="text-align:center; align-content:center; align-items:center">
                <div class="file-input-container">
                    <label class="file-input-label" for="save-btn">Сохранить</label>
                    <input class="file-input" type="submit" id="save-btn" formmethod="post" />
                </div>
            </div>
    </div>
        
           

                @*<p>
            <input type="button" value="Update" onclick="doUpdate()" />
            </p> *@
 </form>

</div>




       



       