﻿@using SBWV.Models.ViewModels

@model BookVM


<div class="catalog" enctype="multipart/form-data">

    <form asp-action="edit" asp-controller="Books" asp-route-id="@Model.Id" enctype="multipart/form-data">

        <h1>Редактировать</h1>

        <label asp-for="Title">Название:</label><br />
        <input type="text" asp-for="Title" />
        <br />
        <label asp-for="Author">Автор: </label><br />
        <input type="text" asp-for="Author"></input>
        <br />
        <label asp-for="Price">Цена: </label><br />
        <input type="number" asp-for="Price"></input>
        <br />
        <label asp-for="Swap">Обмен</label><br />
        <input type="checkbox" asp-for="Swap"></input>
        <br />
        @Html.DropDownListFor(m => m.Category, @ViewBag.Categories as List<SelectListItem>)
        <br />
        <label asp-for="Info">Информация</label><br />
        <input type="text" asp-for="Info" />
        <br />
        <label asp-for="EditPhoto">Изображения:</label><br />
        <br />
        <div>
            @if (Model.Pictures != null)
            {

                @foreach (var i in Model.Pictures)
                {

                    <div class="container" enctype="multipart/form-data" id="@i.Id">
                        <img src="@i.Src" alt="Photo" />
                        <button class="btn" type="button" onclick="onDelete(@i.Id)">удалить</button>
                    </div>
                    <br />

                }

            }

            <br />
            <div enctype="multipart/form-data">
                <span>&nbsp;</span> <label>Выберите файл</label>
                <span>&nbsp;</span><input type="file" name="files" id="fileInput" multiple />
            </div>

        </div>

        <div class="list">
            <div class="item" style="text-align:center; align-content:center; align-items:center">
                <div class="file-input-container">
                    <label class="file-input-label" for="save-btn">Сохранить</label>
                    <input class="file-input" type="submit" id="save-btn" formmethod="post" />
                </div>
            </div>
        </div>



        <script type="text/javascript">

            function onDelete(id) {
                if (!confirm("Удалить фото?"))
                    return;

                $.ajax({
                    url: '@Url.Action("DeletePhoto", "Books")',
                    data: { id },
                    success: function (result) {
                        $('#' + id).remove();
                        //alert(result.msg);
                    },
                    error: function (result) {
                        alert(result.msg);
                    }
                })
            }

            // function doUpdate() {

            //     var formData = {
            //         Id: 1,
            //         Title: $('#Title').val(),
            //         Author: $('#Author').val(),
            //         Src: ["1", "2", "3"]
            //     };

            //     $.ajax({
            //         type: "POST",
            //         url: '@Url.Action("UpdateData", "Books")',
            //         data: formData,
            //         success: function (result) {
            //             alert('success')
            //         }
            //     })
            // }

        </script>

    </form>

</div>

<script type="text/javascript">
    var maxFileSize = 5242880;  // байт, максимальный размер загружаемого файла - 5 Мб
    var maxFilesCount = 5;      // максимальное количество файлов, которые можно загрузить для одной книжки
    var currentFileCount = @Html.Raw(Json.Serialize(Model.Pictures.Length));   // количество уже загруженных файлов

    $('#fileInput').on('change', function () {

        if (this.files.length > maxFilesCount - currentFileCount) {
            this.files = new DataTransfer().files;
            alert("Для выбора доступно не более " + (maxFilesCount - currentFileCount) + " изображений!");
        }

        for (var i = 0; i < this.files.length; i++) {
            if (this.files.item(i).size > maxFileSize) {
                this.files = new DataTransfer().files;
                alert("Максимальный размер изображения не более " + maxFileSize / 1024 / 1024 + " Мб!");
                return;
            }
        }
    });



    function onDelete(id) {
        if (!confirm("Удалить фото?"))
            return;

        $.ajax({
            url: '@Url.Action("DeletePhoto", "Books")',
            data: { id },
            success: function (result) {
                $('#' + id).remove();
                currentFileCount--;
            },
            error: function (result) {
                alert(result.msg);
            }
        })
    }

    // function doUpdate() {

    //     var formData = {
    //         Id: 1,
    //         Title: $('#Title').val(),
    //         Author: $('#Author').val(),
    //         Src: ["1", "2", "3"]
    //     };

    //     $.ajax({
    //         type: "POST",
    //         url: '@Url.Action("UpdateData", "Books")',
    //         data: formData,
    //         success: function (result) {
    //             alert('success')
    //         }
    //     })
    // }

</script>




   ﻿<style>
        #container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            justify-items: center;
            align-items: center;
            align-content: center;
            align-self: center;
        }

            #container .login {
                display: flex;
                padding: 10px;
                margin-top: 10px;
                margin-bottom: 100px;
                align-items: center;
                flex-flow: row;
                justify-content: center;
                text-align: center;
                row-gap: 10px;
                border: 1px solid ghostwhite;
            }

                #container .login input {
                    width: 250px;
                    margin: 7px auto;
                    height: 40px;
                    font-size: 18px;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                    display: flex;
                    flex-flow: row;
                    justify-content: center;
                    justify-items: center;
                    padding: 0 10px;
                    align-items: center;
                    align-content: center;
                }
</style>


<style>

    .file-input-container {
        overflow: hidden;
        position: relative;
    }

    .file-input-label {
        background: #f3f2ec;
        padding: 8px 15px;
        cursor: pointer;
        font-family: Raleway, sans, sans-serif;
        font-size: 14px;
        text-align: center;
        color: #daa556;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

        .file-input-label:hover {
            text-decoration: underline;
        }

    .file-input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
</style>


<style>
    .register {
        margin-left: 150%;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 100px;
        display: flex;
        justify-items: center;
        justify-self: center;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        align-self: center;
        text-align: center;
        row-gap: 10px;
    }

        .register input {
            width: 250px;
            margin: 7px auto;
            height: 40px;
            font-size: 18px;
            border-radius: 5px;
            border: 1px solid #ccc;
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding: 0 10px;
            align-items: center;
        }

    }
</style>