@using SBWV.Models.ViewModels
@using SBWV.Controllers

@model IEnumerable<BookVM>

@{
    ViewData["Title"] = "Личный кабинет";
};


<link rel="stylesheet" href="~/css/AccountInfo.css">

<div class="catalog">
    <h1>@ViewData["Title"]</h1>
    <div class="list">
        <div class="item" style="text-align:center;">
            @Html.ActionLink("Добавить книгу", "Create", "Books")
        </div>
    </div>

    <div class="list">
        <div class="item" style="text-align:center;">
            @Html.ActionLink("Избранное", "Favorites", "Account")
        </div>
    </div>
      
  
    <h4>Мои обьявления:</h4>

    @if (Model.Count() == 0)
    {
        <h3 id="about">Ничего не найденно</h3>
    }
    <div class="list">
        @foreach (var b in Model)
        {
            <div class="list">
                <div class="item">
                    <div class="top">

                        @if (b.Pictures.Length != 0)
                        {
                            <img src="@b.Pictures.First().Src" alt="Photo" />
                        }
                        else
                        {
                            <img src="~/images/nocover.png">

                        }

                        <div class="info">
                            <h1 class="title">Название: @b.Title</h1>
                            <h2 class="author">Автор: @b.Author</h2>
                            <h3 class="genre">Категория: @b.Category</h3>
                            <div class="condition">
                                <strong class="price">Цена: @b.Price</strong>
                                <span>&nbsp;</span>
                                <span>&nbsp;</span>
                                <div class="img">
                                    @if (@b.Swap)
                                    {
                                        <img class="true" style=" justify-content:space-around;" alt="ready for change" src="~/images/icons/change.svg">
                                    }
                                    else
                                    {
                                        <img class="false" style="justify-content:space-around;" alt="ready for change" src="~/images/icons/change.svg">
                                    }
                                </div>
                               

                            </div>

                        </div>
                    </div>
                    <p class="description">Информация: @b.Info </p>
                    <div class="inline-links">
                        @Html.ActionLink("подробнее", "Details", "Books", new { idBook = b.Id })
                        <span>&nbsp;</span>
                        @Html.ActionLink("изменить", "Edit", "Books", new { idBook = b.Id })
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                        
                            @Html.ActionLink("удалить", "Delete", "Books", new { idBook = b.Id }, new { @class = "myLink" })
                        
                        
                    </div>

                </div>

            </div>
           
       
        }
    </div>
    </div>
<script>

    window.onload = function () {
        
    let links = document.getElementsByClassName('myLink');
            
            for (let i = 0; i < links.length; i++)
            {
            

            links[i].addEventListener('click', function (event) {

            if (confirm('Вы действительно хотите удалить эту книгу?'))
            {

            }
            else
            {
            event.preventDefault();
            }
            });
            }

        };
</script>




